body{
  background: black;

  font-family: "Helvetica Neue";
  margin: 0;
 }

h1 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 20px; letter-spacing: -1px; line-height: 1; text-align: center; }
h2 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
h3 { color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 15; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
h4 { color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 40px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center; }
h5 { color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 25px; letter-spacing: -1px; line-height: 1; text-align: center; }
h6 { color: white; font-family: 'Helvetica Neue', sans-serif; font-size: 40px; letter-spacing: -1px; line-height: 1; text-align: center; }

 #description{
   font-size: 24px;
   font-weight: bold;
   color: #b3cbf2;
   line-height: 22px;

   letter-spacing: 1px
 }

 #graph_title{
   font-size: 24px;
   font-weight: bold;
   color: white;
   line-height: 22px;
   letter-spacing: 1px
 }


#slider_label{
  color:white;

  padding:70px 0px;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#sketch-holder,#sketch-holder2,#sketch-holder3,canvas{
  height:400px;
  width:400px;
  display: inline-block;
  color:white;
}

#title1,#title2,#title3{
  color:white;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
